@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 18px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Public Sans', sans-serif; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-weight: 400; }

.header {
  width: 100%; }

.logo {
  width: 100%;
  background-color: #ffffff;
  height: 4em;
  display: flex;
  padding: 0 1.5em; }

.logo-holder {
  width: 12em;
  height: 100%;
  align-items: center;
  display: flex; }
  .logo-holder .ham, .logo-holder .close {
    width: 100%; }

.hamburger {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  .hamburger .ham img {
    width: 1.5em;
    height: 0.9em; }
  .hamburger .close img {
    width: 1.2em;
    height: 1.2em; }

.navigation {
  width: 85%;
  height: 14em;
  display: flex;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 0.7em;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  border: 2px solid black; }
  .navigation ul {
    margin: 1.5em auto; }
  .navigation ul li {
    padding: 0.5em 0; }
  .navigation ul li a {
    color: #2d314d;
    text-decoration: none; }
  .navigation ul li a:hover {
    color: #9698a6; }

.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease-in-out; }

.close {
  display: none;
  transition: 0.3s ease-in-out;
  animation: onclose 0.3s ease-in-out; }

.ham {
  transition: 0.3s ease-in-out;
  animation: onham 0.3s ease-in-out; }

.nav-btn {
  display: none;
  background-color: #ffffff; }

@keyframes onham {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }
@keyframes onclose {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(90deg); } }
@media only screen and (min-width: 700px) {
  .header {
    display: flex; }

  .ham, .close, .active, .hamburger {
    display: none; }

  .navigation {
    opacity: 1;
    width: 100%;
    height: 4em;
    justify-content: flex-end;
    margin: initial;
    border-radius: 0;
    pointer-events: initial;
    position: static;
    top: auto;
    left: auto;
    transform: none;
    transition: auto;
    border: none; }
    .navigation ul {
      display: flex;
      margin: 1.5em 0; }
    .navigation ul li {
      padding: 0;
      margin-right: 1.5em; }
    .navigation li {
      position: relative; }
    .navigation ul li a:hover::before {
      position: absolute;
      content: "";
      bottom: -27px;
      left: 0;
      width: 100%;
      height: 5px;
      background: linear-gradient(to right, #46d76d, #00eba4, #00e5d2, #00d9ee, #41bede); } }
@media only screen and (min-width: 950px) {
  .nav-btn {
    display: flex;
    flex-direction: column;
    padding: 0.7em; }
    .nav-btn .request-btn {
      margin: 0; } }
@media only screen and (min-width: 1200px) {
  .logo {
    width: 50%;
    padding: 0 7.5em; }

  .nav-btn {
    padding: 0.7em 7.5em; }

  .navigation {
    justify-content: flex-start; } }
main {
  background-position-y: -111px;
  background-position-x: 14px;
  overflow: hidden;
  background: #fafafa; }

.container {
  width: 100%;
  height: 16em;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position-y: -100px;
  background-position-x: right; }

.bg-holder {
  display: flex;
  width: 16em;
  margin: 0 auto; }
  .bg-holder img {
    margin-top: -100px; }

.content {
  width: 100%;
  height: 100%; }
  .content .info {
    margin: 0 2em;
    text-align: center; }
    .content .info p {
      padding-top: 1em;
      color: #9698a6; }

.request-btn {
  margin: 3em auto;
  padding: 1em;
  width: 12em;
  border-radius: 25px;
  font-weight: bold;
  background: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer; }
  .request-btn:hover, .request-btn:focus {
    background: linear-gradient(to right, #46d76d, #00eba4, #00e5d2, #00d9ee, #41bede); }

@media only screen and (min-width: 950px) {
  main {
    display: flex;
    height: 36em;
    overflow: visible; }

  .container {
    background-image: url(/images/bg-intro-desktop.svg);
    order: 2;
    height: 100%;
    background-position-x: 0px;
    background-size: cover; }

  .bg-holder {
    width: 100%;
    overflow: hidden; }
    .bg-holder img {
      margin-top: -100px;
      margin-left: 90px; }

  .content {
    order: 1;
    height: 100%;
    display: flex; }
    .content .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left; }
      .content .info .request-btn {
        margin: 3em 0; } }
@media only screen and (min-width: 1200px) {
  .container {
    background-position-x: -7px; }

  .bg-holder img {
    margin-left: 190px; }

  .content .info {
    padding: 0 7.5em;
    margin: 0; }
    .content .info h1 {
      font-size: 2.5em; } }
@media only screen and (min-width: 1200px) {
  .container {
    background-position-x: 60px; } }
@media only screen and (min-width: 1500px) {
  .container {
    background-position-x: 160px; }

  .bg-holder img {
    margin-left: 290px; } }
.about {
  background-color: #f3f4f6; }

.about, .cards {
  width: 100%;
  height: 100%;
  padding-top: 5em; }
  .about .preview, .about .card, .cards .preview, .cards .card {
    margin: 0 2em;
    text-align: center; }
  .about p, .cards p {
    padding-top: 1em;
    color: #9698a6; }
  .about h3, .cards h3 {
    margin-top: 1em; }

.card .wrapper {
  margin-top: 2em; }

.cards:last-child {
  padding-bottom: 5em; }

@media only screen and (min-width: 750px) {
  .cards {
    display: grid;
    grid-auto-rows: 1fr 1fr;
    grid-auto-columns: 1fr 1fr; }
    .cards .card-1 {
      grid-area: 1/1; }
    .cards .card-2 {
      grid-area: 1/2; }
    .cards .card-3 {
      grid-area: 2/1; }
    .cards .card-4 {
      grid-area: 2/2; } }
@media only screen and (min-width: 1200px) {
  .about .preview {
    padding: 0 5.5em;
    text-align: left;
    width: 50%; }

  .cards {
    display: flex;
    padding: 3em 5.5em; }
    .cards p {
      text-align: left; }
    .cards .card {
      text-align: left; } }
.articles {
  width: 100%;
  height: 100%;
  padding: 5em 0;
  background-color: #ffffff; }
  .articles .title, .articles .article-wrapper {
    margin: 0 2em;
    text-align: center; }
  .articles .title {
    padding-bottom: 2em; }

.img img {
  border-radius: 3% 3% 0% 0% / 3% 3% 0% 0%;
  width: 100%; }

.articles {
  background-color: #fafafa; }

.author {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: left;
  padding: 1em 3em; }
  .author span, .author h3, .author p {
    padding: 1em 0; }
  .author span {
    font-size: 12px;
    color: #9698a6; }
  .author h3 {
    padding-bottom: 0.5em;
    cursor: pointer; }
  .author h3:hover {
    color: #31d35c; }
  .author p {
    font-size: 14px;
    color: #9698a6;
    padding-bottom: 5em; }

@media only screen and (min-width: 700px) {
  .author {
    text-align: center;
    width: 600px; } }
@media only screen and (min-width: 1200px) {
  .articles .title {
    padding-left: 6em;
    text-align: left; }

  .article-wrapper {
    display: flex;
    padding: 0 5.5em; }
    .article-wrapper .paper {
      margin: 0 0.5em; }

  .author {
    text-align: left;
    width: 100%; } }
.footer {
  background-color: #2d314d; }

.overview {
  margin: 0 2em;
  text-align: center; }

.socials .footer-logo {
  padding-top: 2.5em;
  padding-bottom: 1em; }

.icons {
  justify-content: center;
  display: flex;
  margin-top: 1em; }
  .icons ul {
    display: flex; }
  .icons ul li {
    padding: 0 0.5em; }
  .icons ul li a:hover svg path,
  .icons ul li a:focus svg path {
    fill: #31d35c; }

.footer-nav {
  margin-top: 2em; }
  .footer-nav .left, .footer-nav .right {
    font-weight: 300;
    font-size: 16px; }
    .footer-nav .left li, .footer-nav .right li {
      padding: 10px 0; }
    .footer-nav .left a, .footer-nav .right a {
      text-decoration: none;
      color: #fafafa; }
    .footer-nav .left a:hover, .footer-nav .right a:hover {
      color: #31d35c; }

.copyright p {
  color: #9698a6;
  padding-bottom: 2.5em; }

@media only screen and (min-width: 1200px) {
  .overview {
    display: flex;
    padding: 3em 0; }
    .overview .socials {
      width: 25%; }
      .overview .socials .icons {
        margin-top: 3.5em;
        padding-left: 5.5em;
        text-align: left;
        display: block; }
      .overview .socials .footer-logo {
        padding-left: 5.5em;
        text-align: left; }
    .overview .footer-nav {
      width: 37.5%;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .overview .footer-nav ul {
        text-align: left; }
    .overview .copyright {
      width: 37.5%;
      text-align: right; }
      .overview .copyright button {
        margin: 3em 7.5em 3em; }
      .overview .copyright p {
        margin-right: 5.5em; } }
.attribution {
  display: flex;
  width: 100%;
  height: 4.5em;
  justify-content: center;
  align-items: center;
  background: #2e3352;
  color: white; }
  .attribution a {
    text-decoration: none;
    color: #31d35c; }

/*# sourceMappingURL=style.css.map */
