.articles{
    width: 100%;
    height: 100%;
    padding: 5em 0;
    background-color: $neutral-4;

    .title,.article-wrapper{
        margin: 0 2em ;
        text-align: center; 
    }
    .title{
        padding-bottom: 2em;
    }
}
.img img{
    border-radius: 3% 3% 0% 0% / 3% 3% 0% 0%;
    width: 100%;

}

.articles{
    background-color: $neutral-3;
}
.author{
    width: 100%;
    background-color: $neutral-4;
    margin: 0 auto;
    text-align: left;
    padding: 1em 3em ;
    
    span,h3,p{
        padding: 1em 0;
    }
    span{
        font-size: 12px;
        color: $neutral-1;
    }
    h3{
        padding-bottom: 0.5em;
        cursor: pointer;
    }
    h3:hover{
        color: $primary-2;
    }
    p{
        font-size: 14px;
        color: $neutral-1;
        padding-bottom: 5em;
    }
}

@media only screen and (min-width:700px){
    .author{
        text-align: center;
        width: 600px;
    }
}

@media only screen and (min-width:1200px){
    .articles .title{
        padding-left: 6em;
        text-align: left;
    }
    .article-wrapper{
        display: flex;
        padding: 0 5.5em;
        .paper{
            margin: 0 0.5em;
            
        }
    }
    
        
    

    .author{
        text-align: left;
        width: 100%;
    }
}

