.footer{
    background-color: $primary-1;
}

.overview{
    margin: 0 2em ;
    text-align: center; 
       
}
.socials{
    .footer-logo{
        padding-top: 2.5em;
        padding-bottom: 1em;
    }
}

.icons{
    justify-content: center;
    display: flex;
    margin-top: 1em;
    ul{
        display: flex;

    }

    ul li{
        padding: 0 0.5em;
    }
    ul li a:hover svg path,
    ul li a:focus svg path{
        fill:$primary-2;
    }
    
}

.footer-nav{
    margin-top: 2em;
  
    .left,.right{
    font-weight: 300;
    font-size: 16px;
    li{
        padding: 10px 0;
    }
    a{
        text-decoration: none;
        color: $neutral-3;

    }
    a:hover{
        color: $primary-2;
    }
} 

}

.copyright p{
    color: $neutral-1;
    padding-bottom: 2.5em;

}

@media only screen and (min-width:1200px){
    .overview{
        display: flex;
        padding: 3em 0;
        .socials{
            width: 25%;
            .icons{
                margin-top: 3.5em;
                padding-left: 5.5em;
                text-align: left;
                display: block;
            }
            .footer-logo{
                padding-left: 5.5em;
                text-align: left;
            }
        }
        .footer-nav{
            width: 37.5%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            ul{
                text-align: left;
            }
        }
        .copyright{
            width: 37.5%;
            text-align: right;
            button{
                margin: 3em 7.5em 3em;
            }
            p{
                margin-right: 5.5em;
            }

        }
    }
}




.attribution{
    display: flex;
    width: 100%;
    height: 4.5em;
    justify-content: center;
    align-items: center;
    background: #2e3352;
    color: white;
   
    a{
        text-decoration: none;
        color: $primary-2;
    }
}

